@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------------------------------------
        Home section
--------------------------------------*/

.home{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: space-evenly;
}

.car-image{
    width: 50%;
    height: auto;
    margin-top: 1rem;
    margin-left: -10rem;
}

.home .home-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.home .button-container{
    text-align: center;
    padding-left: 3rem;
}

.home .home-text h1{
    font-size: 4rem;
}

.folded-button{
    font-family: "Poppins", medium;font-size: 24px;color: #4A4A4A;
    width: 14rem;
    height: 5rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    padding-left: 6rem;
    justify-items: center;
    border-radius: 0px 60px 60px 0px;
    margin-left: -4rem;
    border: 2px solid #707070;
    border-left: none; 
}

#border {
    font-family: "Poppins", medium;
    width: 12rem;
    height: 5rem;
    text-align: center;
    padding-left: 5rem;
    justify-items: center;
    border-radius: 60px;
    border: 2px solid var(--btntext-color);
}

.folded-button:hover{
    background-color: var(--background-gradient);
    color: #ACA1E5;
    border-left: 0px solid #707070;
}

 #border:hover{
    background-color: var(--background-gradient);
    color: #ACA1E5;
    border-left: 2px solid #707070;
}

.dropdown {
    display: grid;
    grid-template-columns: repeat(2, 12rem);
    grid-template-rows: repeat(2, 2rem);
    grid-column-gap: 9rem;
    grid-row-gap: 5rem;
    padding-top: 2rem;padding-left: -13rem;
    }
    
.dropdown1 { grid-area: 1 / 1 / 2 / 2; }

.dropdown2 { grid-area: 1 / 2 / 2 / 3; }

.dropdown3 { grid-area: 2 / 1 / 3 / 2; }

.dropdown4 { grid-area: 2 / 2 / 3 / 3; }

.custom-select {
    position: relative; /* The container must be positioned relative: */
    font-family: "Montserrat";
    border: 1px solid #707070;
    border-radius: 14px;
    width: 16rem;
    font-size: 1.5rem;
}

.custom-select select {
    display: none; /*hide original SELECT element: */   
}


/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 28px;
    right: 16px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-color: #707070 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #404040 transparent;
    top: 20px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #707070;
    padding: 22px 24px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #707070;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: var(--hover-color);
    color:white;
}   

.searchbtn{
    display: flex;
    margin-left: 11rem;
    margin-top: 5rem;
    margin-right: 13rem;
    font-family: "Poppins", medium;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background-image: var(--gradient);
    padding: 13px 25px;
    border-radius: 50px;
    cursor: pointer;
}

.searchbtn .fa-magnifying-glass{
    color: white;
    font-size: 22px;
    margin-right: .5rem;
}

.searchbtn:hover, .searchbtn .fa-magnifying-glass:hover{
    color: var(--hover-color);
}

.searchbtn .fa-magnifying-glass{
    display: block;
}

/*-------------------------------------
       Brand & body style
--------------------------------------*/

.body-style, .brand-style{
    background-color: var(--mainbackground-color);
}

 .brand-style{
    height: 53vh;
 }

.body-list {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-left: 8%;
    padding-right: 8%;
}

.body-list a{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-family: "Poppins", medium;
    font-weight: 500;
    font-size: 16px;
    color: var(--btntext-color);
    padding: 1rem;
    display: inline-block;
}

.body-list > *{
    display: block;
    text-align: center;
}

.body-list img {
    height: 4rem;
    display: flex;
}

.brand-list{
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
}

.brand-list img{
    width: 12rem;
    display: flex;
    justify-content: space-between;
}

.brand-list .firstrow, .secondrow{
    display: flex;
    flex-direction: row;
    gap: 16rem;
}

.brand-list .secondrow{
    margin-top: -8rem;
}

/*-------------------------------------
       News & Articles
--------------------------------------*/

.box img{
    width: 100%;
}

.article-container{
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
    margin-top: -2rem;
}

.article-container .box{
    flex: 1 1 13rem;
    padding: 20px;
    margin: 18px auto;
}

.article-container .box:hover{
    opacity: 80%;
    border-radius: 20px;
    box-shadow: 3px 2px 2px #b1a6eaad;
}

.article-container .box span{
    font-family: "Montserrat", bold;
    font-weight: 500;
    font-size: 12px;
    color: var(--main-color);
    padding-top: 0.5rem;
}

.article-container h3 {
    color: var(--text-color);
    font-size: 1rem;
    padding-top: 0.5rem;
    line-height: 1.2;
}

.article-container .box p{
    font-size: 0.938rem;
    margin: 4px 0;
    padding-top: 0.5rem;
    line-height: 1.2;
}

.article-container .box .article-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
    font-family: "Poppins", medium;
    font-weight: 500;
    font-size: 15px;
    color: var(--btntext-color);
    padding-top: 0.5rem;
}

.article-container .box .article-btn:hover{
    color: var(--hover-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}

/*-------------------------------------
       Review Section
--------------------------------------*/

.review h3{
  text-align: right;
  margin-right: 8rem;
  margin-bottom: 0.5rem;
}

.review h2{
    padding-bottom: initial;
}

.review h3:hover{
   color: var(--hover-color);
   text-decoration: underline;
}

.review{
    background-color: var(--mainbackground-color);
    padding-right: 4%;
}

.reviewbox img{
    width: 300px;
}

.review .review-container{
    padding-left: 7%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: -1.5rem;
    overflow: scroll;
}


.review .review-container .reviewbox:hover{
    opacity: 80%;
    border-radius: 20px;
}

.reviewbox{
    flex: 1 1 13rem;
    padding:20px;
    margin: 14px auto;
}

.reviewbox h4{
   padding-bottom: 0.5rem;
   padding-left: 1.5rem;
}

.review-container .fa-star{
    color: var(--main-color);
}

/*-------------------------------------
       Company Introduction Section
--------------------------------------*/

.info{
    padding: 3% 8%;
    line-height: 1.5;
}

.info h3{
    margin-bottom: 1rem;
}


.home .home-text select {
    color: #707070;
    background-color: white;
    border: 1px solid #707070;
}