
/*-------------------------------------
       Make responsive design
--------------------------------------*/

/* The first version is more detailed responsive */

@media(max-width:1391px){
    
    html{
        font-size: 40%;
    }

    .header{
/*         padding: 4rem; */
        padding: 30px 20px;
    }

    .brand-list .firstrow, .secondrow {
        gap: 11rem;
    }
}



@media(max-width:1025px){
    
    html{
        font-size: 50%;
    }

    .header{
        padding: 4rem;
    }

    .header .account-btn i{
        display: block;
    }

    .header .account-btn i:hover{
        color: var(--hover-color);
    }

    .header-btn .account-btn .sign-up, .log-in{
        display: none;
    }

    .brand-list .firstrow, .secondrow {
        gap: 5rem;
    }
}

/* Navigation bar responsive */

@media(max-width:968px){

    #menu-btn{
        display: block;
    }

    #menu-btn:hover{
        color: var(--hover-color);
    }

    #menu-btn.fa-xmark{
        font-size: 2.5rem;
        transform: rotate(-180deg);
        margin-top: .1rem;}

    .header {
        padding: 2rem;
    }

    .header .navbar{
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        background: #f2f2f2;
        box-shadow: -1px 4px 5px #2727274d;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

     .header .navbar a{
         display: block;
         margin: 2.5rem;
         font-size: 2rem;
     }

     .hide{
		display:none;
	}

    .brand-list .firstrow, .secondrow {
        gap: 4rem;
    }

    .product .product-container {
        flex-direction: column;
    }

    .container-left .single-image .car-image{
        display: none;
    }
    .container-left .multi-image-group .single-image .car-image-small {
        display: block;
        margin-left: -4rem;
    }
}


/* The second version  consider computer(1920px), ipad page(844px) */

/* Homepage responsive */

@media(max-width:1920px){
	html{
		font-size: large;
	}

    .brand-list .firstrow, .secondrow {
        gap: 20rem;
    }

}

@media(max-width:844px){
	html{
		font-size:14px;
	}

    .fa-magnifying-glass{
        display: block;
    }

    /*---------------------------------
        homepagedetail responsive
    ----------------------------------*/

    .car-image {
        width: 71rem;
        margin-left: -43rem;
    }

    .home {
        margin-top: 0rem;
    }

    .home .home-text {
        margin-top: 2rem;
    }

    .home .home-text h1 {
        font-size: 2rem;
    }

    .home .button-container {
        padding-left: 3rem;
    }

    .folded-button {
        font-size: 18px;
        width: 11rem;
        height: 3.5rem;
        margin-left: -4rem;
        border: 1.5px solid #707070;
        border-left: none;
        padding-left: 5.5rem;
    }

    #border {
        width: 8rem;
        height: 3.5rem;
        padding-left: 3.5rem;
        border: 1.5px solid var(--btntext-color);
    }

    .dropdown {
        grid-column-gap: 0rem;
        grid-row-gap: 3rem;
        padding-left: 5rem;
    }

    .select-items div, .select-selected {
        color: #707070;
        padding: 15px 14px;
    }

    .custom-select {
        width: 11rem;
        height: 3.4rem;
        font-size: 1rem;
    }

    .select-selected:after {
    top: 20px;
    right: 14px;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #404040 transparent;
        top: 11px;
    }
        
    .body-list {
        gap: 2.5rem;
    }


    .body-list img {
        width: 6rem;
        height: 3rem;
        display: flex;
    }

    .convertible{
        margin-left: 14px;
    }

    .brand-style {
        height: 56vh;
    }

    .brand-list .firstrow, .secondrow {
        gap: 7rem;
    }

    .brand-list img {
        width: 8rem;
    }

    .searchbtn {
        font-size: 16px;
        text-align: center;
        line-height: 1.5rem;
        padding: 6px 36px;
        margin-top: 3rem;
        margin-left: 12rem;
    }

    .searchbtn .fa-magnifying-glass {
        display: none;
    }

    .review .review-container {
        padding-left: 4%;
    }

    .review h3 {
        margin-right: 0rem;
    }

    .article-container #box3{
        display: none;
    }

    .hide{
		display: none;
	}

    /*--------------------------------
        Footer mobile responsive
    ---------------------------------*/

	.footer-container .footer-box.hide{
		display:none;
	}
	.footer-container{
		flex-wrap:wrap;
		gap: 1rem;
        padding-left: 10rem;
	}
    .footer-box h3 {
        font-size: 1.5rem;
    }

    .footer-box a {
        font-size: 17px;
    }

    .footer-container .footer-box {
        width: 40%;
        line-height: 3.5rem;
	}
	.footer-box a,.footer-box .up-footer a, .down-footer a{
		margin:0;
	}

    .social img {
        width: 45%;
    }

    .social a{
        width: 4rem;
    }

    .social .ytb{
        width: 2.3rem;
    }

    .social .email{
        width: 2rem;
    }

}

/* The third version consider mobile page */

@media(max-width:648px){
	html{
		font-size:14px;
	}
	.filter .title div{
		flex:0 1 33.3%;
	}
	.filter .title .clear-all{
		text-align:right;
	}
    .header .navbar a {
        margin: 2.2rem;
        font-size: 1.32rem;
    }    

    .header .logo img {
        width: 12rem;
        margin: 0.5rem 0 0 1rem;
    }
    .header-btn {
        gap: 1rem;
    }

    .car-image {
        display:none;
    }

    .home .home-text {
        margin: 9rem 1rem 3rem;
    }

    .body-list {
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: space-evenly;
    }

    .brand-list .firstrow, .secondrow {
        gap: 2rem;
    }


    .body-style, .brand-style {
        text-align: center;
        height: 34vh;
    }

    .body-list a {
        font-size: 9px;
    }

    .body-list img {
        width: auto;
        height: 2rem;
    }

    .body-list .sedan{
        margin-left: 1.5rem;
    }

    .brand-list img {
        width: 4rem;
    }

    .article-container #box2, .article-container .box p{
        display: none;
    }

    .article-container .box {
        text-align: center;
    }
    
    .article-container .box .article-btn {
        justify-content: center;
    }

    .box img {
        margin-bottom: 1rem;
    }

    .review h2{
        text-align: center;
    }

    .info h3{
        text-align: center;
        margin: 1rem 0 -1rem 0;
    }

    .info h4{
        display: none;
    }

    .footer-box h3 {
        font-size: 1rem;
    }

    .footer-box a {
        font-size: 12px;
    }

    .social img {
        width: 38%;
    }

    .social .email {
        width: 1.3rem;
    }

    .social .ytb {
        width: 1.6rem;
    }

    .footer-box .social a{
        margin-right: -23px;
        margin-top: 1rem;
    }

	.footer-container .footer-box.hide{
		display:none;
	}
	.footer-container{
		flex-wrap:wrap;
		gap:0rem;
		padding-left:2rem;
	}
	.footer-container .footer-box{
		width:50%;
		line-height:2rem;
	}
	.footer-box a,.footer-box .up-footer a, .down-footer a{
		margin:0;
	}



}
/*--------------------------------------------
        Search result page mobile responsive
---------------------------------------------*/

@media(max-width:648px){
	html,body{
		width: 100%;
		height: 100%;
	}

	.hide{
		display: none;
	}

	.search-result{
		margin-top: 10rem;
	}

	.filter{
		width: 100vw;
		height: 87vh;
		position: fixed;
		top: 8rem;
		z-index: 999;
		top: 102vh;
		overflow-y: scroll;
	}

	.filter .row p{
		line-height: 1.5rem;
	}

	.mobile-show{
		display: flex;
	}

	.mobile-use{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.mobile-use .m50{
		max-width: 50%;
		flex: 0 1 50%;
	}

	.back i{
		margin-left: 1rem;
		font-size: 2rem;
		color: var(--main-color);
	}

	.result, .search,.tips, .filter-items, .result-content{
		max-width: 100vw;
	}

	.result-top{
		padding: 0 1rem;
	}

	.result .search{
		height: 3rem;
		display: flex;
		justify-content: space-between;
		position: static;
	}

	.search-box{
		position: relative;
		width: 80%;
	}

	.tips{
        font-size: 0.8rem;
        margin: 0.5rem 0 0 0.5rem;
	}
	
	.filter-items{
		height: 2rem;
        margin: 0 0 -2rem 0;
	}

	.filter-items .filter-btn{
		font-size: 0.8rem;
		padding: 0px 0.5rem;
		align-items: center;
	}

	.filter-items .filter-btn img{
		width: 1rem;
		height: 1rem;
		line-height: 2rem;
	}

	.result .search .title-txt{
		width: 20%;
        font-size: 1rem;
        font-family: "Poppins";
        color: var(--main-color);
        text-indent: 2rem;
        line-height: 3rem;
        margin-left: 0.5rem;
        background-image: url(../res/search-result/filter.png);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 1.75rem;
	}

	.result .search input{
		width: 100%;
		font-size: .9rem;
		height: 3rem;
		text-indent: 10%;
	}

    .search .search-box img{
		width: 40%;
	} 

	.result .search .search-icon,.result .search .mike{
		height: 3rem;
	}

    .result .search .mike {
        margin-right: -1.5rem;
    }

	.result-item .result-title-txt h3{
		font-size: 1rem;
	}

	.result-content{
		gap: 0;
		width: 100vw;
	}

	.result-item{
		max-width: 96vw;
		margin: 1rem 2vw;
		flex: 0 1 96vw;
	}

	.result-item img{
		width: 71vw;
	}

	.popupwindow{
		height: auto;
		/*top:7.6rem;*/
		top: -70vh;
	}
	
	.carspace{
		margin: 20px 0;
	}

	.comparecars{
		margin: 20px 40px;
	}
}
/*----------------------------------------
        Product detail page mobile responsive
-----------------------------------------*/
@media(max-width:648px){
    html,body{
		width:100%;
		height:100%;
	}


    .product .product-container {
        flex-direction: column;
    }

    /* container left */
    .container-left{
        margin-left: -2rem;
    }

    .container-left .single-image .car-image{
        display: none;
    }
    .container-left .multi-image-group .single-image .car-image-small {
        display: block;
        margin-left: -4rem;
    }
    
    .fa-arrow-left, .fa-heart{
        font-size: 1.5rem;
    }

    #back-btn{
        margin-left: -6rem;
        margin-right: -2rem;
        z-index: 999;
    }

    .car-title h2 {
        line-height: 1.5;
        font-size: 1.3rem;
    }

    .car-title h5 {
        font-size: small;
        margin-top: 0rem;
    }

    .comparebtn {
        font-size: 8px;
        padding: 9px 14px;
    }

    .product-container .container-left .title {
        margin-right: 9rem;
    }

    .container-left .single-image .car-image{
        display: none;
    }
    
    .container-left .single-image .product-car {
        display: block;
    }

    .title .title-btn {
        gap: 1rem;
        margin-right: -20rem;
    }

    .multi-image-group .small-image-group {
        padding-top: 0rem;
        margin-left: 4rem;
        width: 80%;
    } 

    .multi-image-group h2{
        font-size: 1.4rem;
        padding-left: 15%;
        padding-bottom: 4rem;
    }



    /* Container right */

    .container-right {
        width: 359%;
        margin: 3rem 0 0rem 3rem;
        box-shadow: 0px -10px 10px #aca1e569;
        margin-left: 0.5rem;
    }

    .key-features h4 {
        font-size: .8rem;
        line-height: 1rem;
    }

    .box1, .box2, .box3, .box4 {
        padding: 13px 29px;
    }

    .box1, .box3 {
        margin-right: none;
    }

    .box2, .box4 {
        margin-right: none;
    }

    .fa-car, .fa-brush, .fa-gas-pump, .fa-car-side {
        font-size: 2rem;
    }

    .key-features {
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        padding: 1.5rem;
    }

    .container-right h2 {
        padding: 3rem;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .Comment{
        margin-top: 1rem;
    }

    .Comment h5 {
        line-height: 2rem;
        font-size: .6rem;
    }

    .contact-btn {
        font-size: 1rem;
        padding: 9px 2rem;
        gap: 1rem
    }

    .contact-btn .contactseller, .contact-btn .contactseller {
        padding: 1.2rem;
    }

    /* Detail section */
    .car-details {
        width: 100%;
        margin-left: 6%;
        background-color: white;
        margin-top: -10rem;
        margin-left: 0rem;
    }

    .car-details .details {
        flex-direction: column;
        margin: 1rem;
        margin: 1rem 0rem 1rem 2rem;
    }

    .car-details .heading {
        padding: 4rem 1rem 0rem;
        text-align: center;
        font-size: 1.8rem;
    }

    .car-details .details .fa-circle {
        font-size: 50%;
    }

    .car-details .details .detail-col {
        margin: 0rem 9rem;
    }

    .car-details .details .detail-col span {
        font-size: 1rem;
    }

    .car-details .details .detail-col li {
        font-size: 1rem;
        margin: 1rem -7rem;
    }

}

/*----------------------------------------
        Enquiry page mobile responsive
-----------------------------------------*/
@media(max-width:648px){
    .contact-form, .contact-confirm {
        height: 290vh;
    }

    .contact-form-content {
        height: 79vh;
        width: 42vh;
        margin-top: -190vh;
        margin-left: -142vh;
        z-index: 100000;
    }

    .contact-form .contact-form-content h2 {
        font-size: 1.3rem;
        text-align: center;
        margin-left: 6rem;
    }

    form {
        padding: 0.5rem 0.5rem;
    }

    .form-heading {
        margin-left: -3rem;
        gap: 0rem;
        margin-top: 1rem;
    }

    .fa-xmark {
        font-size: 2rem;
        margin-right: 0rem;
        margin-top: -4rem;
    }

    .data1{
        flex-direction: column;
        gap: 0rem;
    }

    .data4 #message, .data1 input, .data2 input, .data3 input {
        font-size: .8rem;
    }

    .data4 #message{
        width: 33.5vh;
    }

    .data1 input {
        width: 100%;
        font-size: .8rem;
        height: rem;
    }

    label {
        font-size: .9rem;
        margin: 0.6rem 0 .6rem 0;
    }

    input {
        width: 100%;
        height: 2rem;
        margin-bottom: 1px;
    }

    textarea {
        height: 6rem;
    }

    .contact-form-content p {
        padding: 0rem 0.5rem;
        font-size: 0.6rem;
        line-height: .7rem;
    }

    .submit-btn {
        font-size: .8rem;
        color: var(--main-color);
        background-color: #F5F5F5;
        padding: 10px 30px;
        margin-left: 2rem;
    }

    .checkbox-box {
        width: 1em;
        height: 1em;
        /* margin-top: -1.5rem; */
    }

    .error {
        margin: 0rem 0 0 0.5rem;
        font-size: 0.7rem;
    }

    input[type="submit"] {
        width: 38%;
        padding: 0px 26px;
        font-size: 1rem;
    }

    .center {
        text-align: center;
        margin-top: -1rem;
    }
}


/*---------------------------------------------
        Confirmation page mobile responsive
----------------------------------------------*/
@media(max-width:648px){

    #confirm-xmark {
        width: 20vh;
        font-size: 3rem;
        margin: -19rem 0px 3rem 30rem;
    }

    .thank-you {
        gap: 5rem;
        margin-top: 1rem;
    }

    .contact-form .contact-form-content .thank-you h2{
        font-size: 1.7rem;
    }

    .thank-you h5{
        font-size: 1rem;
    }


/*-----------------------------------------
        Compare page mobile responsive
------------------------------------------*/

@media(max-width:1920px){
	html{
		font-size:14px;
	}

}

@media(max-width:648px){


    .tit1 {
        font-size: 1.5rem;
        margin-top: 1rem;
        line-height: 0.8rem;
        font-weight: 600;
    }

    .tit2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: -1rem;
    }

	.bigtit div h3{
		font-size:2rem;
	}

	.bigtit div i{
		float: left;
		margin-left: 1rem;
		font-size: 2rem;
		color: var(--main-color)
	}

    .compare-cars {
        gap: 1.5rem;
    }

	.searchbox{
		width:96%;
	}

	.searchbox .search {
        width: 80%;
        flex: 0 0 75%;
        margin-left: 0.5rem;
    }

	.searchbox .search input{
		font-size: 0.8rem;
		text-indent: 2.5rem;
        width: 102%;
	}

	.searchbox .clear-list {
        width: 19%;
        flex: 0 0 24%;
        font-size: 1rem;
        margin-left: -4.5rem;
        background: none;
	}

    .car-item .car1{
        width: 120%;
        margin-left: -2rem;
    }

    .car-item .car-item-title-txt h3 {
        font-size: 1.3rem;
        line-height: 1.7rem;
        margin-bottom: 0.5rem;
    }

    .car-item .car-item-title-txt p {
        font-size: 0.8rem;
    }

    .car-item .car-item-bottom .car-item-bottom-left h3 {
        font-size: 1rem;
        line-height: 5rem;
    }

    .car-item .car-item-bottom .car-item-bottom-right button {
        font-size: 12px;
        padding: 7px 14px;
        margin-top: 1.5rem;
    }

    .car-item .car-item-bottom .car-item-bottom-right button:hover{
        color: var(--hover-color);
    }

    .text-list .row .column2 {
        font-size: 10px;
        text-align: right;
        margin-left: -6rem;
    }

    .text-list .row .column1 {
        text-indent: 1rem;
        font-weight: 500;
        font-size: 12px;
    }

    .car-item button {
        font-size: 14px;
    }

    .car-item button:hover{
        color: var(--hover-color);
    }

	.footer{
		width:100vw;
	}

	.compare-cars{
		width:100%;
		box-sizing:border-box;
		padding:0 2%;
	}

	.car-list{
		width:100%;
		overflow:scroll;
	}

	.car-space{
		min-width:20rem;
	}

	.car-space,.car-item{
		width:20rem;
		flex: 0 1 20rem;
	}

	.car-item img{
		width:90%;
	}

	.hide{
		display:none;
	}

    .mobile-show{
		display: flex;
	}
}
}