@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*-------------------------------------
        General
--------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

:root{
    --main-color: #998FDE;
    --mainbackground-color: #FCFCFF;
    --btnbackground-color: ##F5F5F5;
    --btntext-color:#707070;
    --text-color: #4A4A4A;
    --hover-color: #ACA1E5;
    --gradient: linear-gradient(#A09AEE,#C8AFE4);
}

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem; 
}

/* Custom Scroll Bar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--main-color);
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: var(--text-color);
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: var(--text-color);
    padding: 3rem;
    padding-left: 8%;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--text-color);
}

h4{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

h5{
    font-family:  "Montserrat";
    font-weight: 400;
    font-size: small;
    color: var(--text-color);
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

/*-------------------------------------
        Navbar
--------------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--btnbackground-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1.5rem 6%;
    background-color: #ebeaeae6; 
    box-shadow: -1px 2px 8px #2727274d;
    z-index:999999;
}


#menu-btn{
    display: none;
}

.header .logo img{
    width: 14rem;
    margin-left: 2rem;
}

.header .navbar a{
    font-family: "Poppins", medium;
    font-weight: 500;
    font-size: 22px;
    color: var(--btntext-color);
    margin: 0 2rem;
}

.header .navbar a:hover{
    color: var(--hover-color);
}

.header-btn{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-btn .fa-heart, .fa-bell, .fa-magnifying-glass, .account-btn i{
    font-size: 30px;
    color: var(--btntext-color);
    cursor: pointer;
}


.header #menu-btn{
    font-size: 25px;
    color: var(--btntext-color);
    cursor: pointer;
}

.header-btn .fa-heart:hover, .fa-bell:hover, .fa-magnifying-glass:hover{
    color:var(--hover-color);
} 

.header-btn .sign-up{
    font-family: "Poppins", medium;
    font-weight: 500;
    font-size: 22px;
    color: var(--btntext-color);
    cursor: pointer;
}

.header-btn .sign-up:hover{
    color: var(--hover-color);
}

.header-btn .log-in{
    font-family: "Poppins", medium;
    font-weight: 500;
    font-size: 22px;
    color: white;
    background-image: var(--gradient);
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;margin-left: .3rem;
}

.header-btn .log-in:hover{
    color: var(--hover-color);
}

.header-btn .account-btn i{
    display: none;
}

.fa-magnifying-glass{
    display: none;
}

/*-------------------------------------
       Footer
--------------------------------------*/

.footer{
    background: #ECEBEB;
    color:var(--text-color);
    border-top: 2px solid --main-color;
    margin-top: 2rem;
    padding-right: 5%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.footer-container .logo{
    width: 268px;
    border-top: 6rem;
    padding-left: 31%;
    margin-top: 2rem;
}


.footer-container .contact{
    width: 282px;
    border-top: 17rem;
    margin-top: 1rem;
    padding-left: 32%;
    line-height: 2;
}

.footer-container .footer-box{
    display: flex;
    width: 20%;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    margin-top: 3rem;
}

.social{
    display: flex;
    align-items: center;
}

.social img{
    width: 58%;
}

.footer-box h3{
    font-size: 1.1rem;
}

.footer-box a{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.footer-box a:hover{
    color: var(--hover-color);
    padding-left: 10px;
}

.footer-box .up-footer .fc:hover{
    color: var(--hover-color);
    padding-left: 2px;
}

.footer-box .social a:hover{
    padding-left: 0px;
}


.footer-container .footer-box .up-footer, .down-footer {
    display: flex;
    flex-direction: column;
}

.footer-box .up-footer a, .down-footer a{
    margin-top: 21px;
}

.footer-box .up-footer a, .down-footer a:hover{
    padding-right: 3rem;
}

.copyright{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    color: var(--text-color);
    background: #ECEBEB;
}









/*-------------------------------------
       Make responsive design
--------------------------------------*/

@media(max-width:1391px){
    
    html{
        font-size: 40%;
    }

    .header{
/*         padding: 4rem; */
        padding: 30px 20px;
    }
}



@media(max-width:1025px){
    
    html{
        font-size: 50%;
    }

    .header{
        padding: 4rem;
    }

    .header .account-btn i{
        display: block;
    }

    .header .account-btn i:hover{
        color: var(--hover-color);
    }

    .header-btn .account-btn .sign-up, .log-in{
        display: none;
    }
}



@media(max-width:968px){

    #menu-btn{
        display: block;
    }

    #menu-btn:hover{
        color: var(--hover-color);
    }

    #menu-btn.fa-xmark{
        transform: rotate(-180deg);
    }

    .header {
        padding: 2rem;
    }

    .header .navbar{
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        background: #f2f2f2;
        box-shadow: -1px 4px 5px #2727274d;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

     .header .navbar a{
         display: block;
         margin: 2.5rem;
         font-size: 2rem;
     }
}

/* homepage mobile footer responsive */

@media(max-width:1920px){
	html{
		font-size:14px;
	}
}

@media(max-width:844px){
	html{
		font-size:14px;
	}
	.footer-container .footer-box.hide{
		display:none;
	}
	.footer-container{
		flex-wrap:wrap;
		gap:0rem;
		padding-left:2rem;
	}
	.footer-container .footer-box{
		width:50%;
		line-height:2rem;
	}
	.footer-box a,.footer-box .up-footer a, .down-footer a{
		margin:0;
	}
}

/* compare page mobile responsive */

@media(max-width:1920px){
	html{
		font-size:14px;
	}
}


@media(max-width:844px){
	html,body{
		width:100%;
		height:100%;
	}
	.mobile_show{
		width:100vw;
		display:block;
		text-align:center;
	}

	.bigtit div h3{
		font-size:2rem;
	}
	.bigtit div i{
		float:left;
		margin-left:1rem;
		font-size:2rem;
		color:var(--main-color)
	}
	.searchbox{
		width:96%;
	}
	.searchbox .search{
		width:80%;
		flex: 1 0 70%;
	}
	.searchbox .search input{
		font-size:0.8rem;
		text-indent:2.5rem;
	}
	.searchbox .clear_list{
		min-width:0px;
		width:30%;
		flex: 0 1 30%;
		font-size:1rem;
		background:none;
	}
	.footer{
		width:100vw;
	}
	.compare_cars{
		width:100%;
		box-sizing:border-box;
		padding:0 2%;
	}
	.car_list{
		width:100%;
		overflow:scroll;
	}
	.car_space{
		min-width:20rem;
	}
	.car_space,.car_item{
		width:20rem;
		flex: 0 1 20rem;
	}
	.car_item img{
		width:90%;
	}
	
}